
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    font-family: 'Raleway', sans-serif;}
 

section.hero{
    width: 100%;
    height: 500px;
    background-image: url(../images/Rectangle\ 5714.svg);
    background-position: center center;
    background-size: cover;
    position: relative;
}


section.hero div.heroContent{
    position: absolute;
    color: #F1F1F1;
    font-size: 35px;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
img{
    width: 500px;
    height: 500px;
}

section.bodyAbout{
    position: relative;
    margin: 40px 140px !important;
}
.AllContent{
  position: absolute;
}
.AllContent h1{
    color: #43595B;
    font-size: 55px;
    margin-top: 50px;

}
.AllContent p{
    color:#748F92;
    font-size: 25px;
} 
.SecContent h1{
  
}
