body {
margin: 0;
outline: none;
min-height: 1500px !important;
font-family: 'inter';
background-color: #eee;
}
.Hero{
    background-image: url(/assets/images/Hero.png);
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    margin-bottom: 150px;
}

/* header ul li{
    list-style: none;
    cursor: pointer;
}

header ul{
    display: flex;
    gap: 2em;
    font-size: 1.3em;
    color: #fff;
}

.logo {
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    font-size: 1.4em;

}
header {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 1.5em 0 0 0;
    justify-content: space-around;
    width: 100%;
} */

.line{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2C4648;
    height: 6px;
}.content{
    padding:80px 200px 0 200px;
}.title1{
    color: #43595B;
    font-size: 3em;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}.desc{
    color: #748F92;
    text-align:justify;
    font-size: 28px;
    font-weight: 300;
}.Gifts{
    display: flex;
    flex-direction: column;
    gap:1.4em;
    margin-bottom: 150px;
}.TitleHero {
    font-weight: 700;
    color: #F1F1F1;
    font-size: 50px !important;
    display: flex;
    justify-content: center;
}.DesHero {
    color: #F1F1F1;
    font-weight: 300;
    font-size: 20px;
}.BTNhero {
    margin-bottom: -100px;
    cursor: pointer;
    background-color: #F1F1F1;
    border-radius: 32px;
    color: #0D0D0D;
    font-size: 20px;
    padding: 13px 47px;
    transition: 0.4s;
}.BTNhero:hover {
    background-color: transparent;
    border: 3px solid #F1F1F1;
    color: #F1F1F1;
}
.categories {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}.cards {
    display: flex;
    flex-direction: row;
    gap: 2em;
}.card {
    height: 358px !important;
    width: 294px !important;
    background-color: #FFFFFF;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background img {
    width: 100%;
    border-top-left-radius:29px ;
    border-top-right-radius:29px ;
    height: 200px;
    
}

.CARDname {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 30px;
    
}

.BrowseBTN {
    margin: 45px;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    border-radius: 13px;
    color: #FFFFFF;
    width: 170px;
    height: 45px;
    background-color: #24717B;
}
.BrowseBTN:hover {
    transition: 0.4s;
    background: none;
    border: 3px solid #24717B;
}
.BrowseBTN a:hover {
    transition: 0.4s;
    color:#24717B;
}
.BrowseBTN1:hover {
    transition: 0.4s;
    background: none;
    border: 3px solid #24717B;
}
.BrowseBTN1 a:hover {
    transition: 0.4s;
    color:#24717B;
}
.BrowseBTN1  {
    margin: 9px;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    border-radius: 13px;
    width: 170px;
    height: 40px;
    background-color: #24717B;
}

.BrowseBTN a {
    color: #FFFFFF;
    text-decoration: none;
}
.BrowseBTN1 a {
    color: #FFFFFF;
    text-decoration: none;
}

footer{
    margin-top: 100px;
}