@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/*   font-family: "Poppins", sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&family=Montserrat:wght@200;300;400;500;600;700&display=swap");
/* font-family: 'Montserrat', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&family=Montserrat:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;700;900&display=swap");
/* font-family: 'Playfair Display', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;700;900&display=swap");
/* font-family: 'Open Sans', sans-serif; */
@font-face {
  font-family: "JFFlat";
  src: url(../fonts/JF\ Flat\ Regular.otf);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --mainColor: #25717b;
  --secondaryColor: #43595b;
  --blackColor: #333333;
  --blackLightColor: #888888;
  --whiteColor: #ffffff;

  /* --border-color-1: hsla(240, 8%, 30%, 0.496); */
  /* --border-color-2: hsl(240, 9%, 25%); */
  /* --shadow: 0 0 10px hsla(0 ,0% ,0% ,0.08); */
}
body {
  background-color: #eeeeee;
}
::selection {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}

main {
  background-image: url(../images/hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}
.MAIN {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#01282dd2, #092d3267);
  position: relative;
}

nav {
  padding: 23px 0 !important;
 transition: 0.3s;
}
.navBB {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: var(--mainColor);
  z-index: 99;
}
.navbar-brand {
  color: white !important;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.nav-link {
  color: white !important;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  
}

/* Drop Down */
.dropbtn {
  background-color: transparent;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--mainColor);
  color: white;
}

/* .dropdown a:hover {background-color: #ddd;} */

.show {display: block;}

/* Drop Down */

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
  color: var(--whiteColor);
}
h1 {
  font-size: 60px;
  font-weight: 500;
}
.hero p {
  font-size: 24px;
  padding-top: 20px;

  /* font-weight: 500; */
}
.BtnMain {
  width: 160px;
  height: 52px;
  line-height: 17px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  background-color: var(--whiteColor);
  font-size: 22px;
}
.arrowDown {
  font-size: 35px;
  background-color: transparent;
  border-color: transparent;
}
.one {
  color: var(--whiteColor);
}
.two {
  color: var(--secondaryColor);
}
h2 {
  margin-bottom: 20px;
  font-size: 41px;
  font-weight: 500;
  color: var(--secondaryColor);
}
.about {
  min-height: 86.55vh;
  padding: 38px 0px 30px 0px;
}

.about .text {
  /* margin-left: 45px; */
  /* padding-left: 20px; */
  /* border-left: 2px solid black; */
  font-size: 30px;
  text-align: justify;
  position: relative;
  padding-left: 90px;
}

.about .text::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 11.5%;
  width: 3px;
  height: 300px;
  background-color: var(--blackColor);
}

.BtnAbout {
  width: 180px;
  height: 52px;
  line-height: 15px;
  font-size: 15px;
  /* font-weight: bold; */
  border-radius: 30px;
  text-align: center;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  font-size: 22px;
}
.boxsImage {
  position: relative;

  padding-left: 60px;
}
img {
  width: 120%;
  height: 120%;
}
.box1 {
  width: 200px;
  height: 300px;
  position: absolute;
  left: 20%;
  top: 42%;
}
.box2 {
  width: 200px;
  height: 300px;
  position: absolute;
  /* top:120%; */
  left: 50%;
  margin-top: 100px;
}

.services {
  min-height: 86.55vh;
  padding: 38px 0px 30px 0px;
}
.cardService {
  height: 310px;
  width: 280px;
  padding: 20px;
  margin: auto;
  text-align: center;
  border-radius: 12%;
  box-shadow: 1px 1px rgb(158, 158, 158), -0.5em 0 0.6em rgb(204, 204, 204);
}
.textCard {
  margin-top: 22px;
  font-size: 22px;
  /* text-align: justify; */
}
.Btnservice {
  width: 140px;
  height: 45px;
  line-height: 11px;
  font-size: 15px;
  /* font-weight: bold; */
  border-radius: 30px;
  text-align: center;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  font-size: 20px;
  margin-left: 16px;
}
.card {
  margin: auto;
  width: 280px;
  border-radius: 12%;
}

h6{
font-size: 25px;
}

::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }


/*Start Carsoul*/
.main-carousel {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.cell {
  width: 190px;
  height: 190px;
  /* margin: 0 40px !important; */
  padding: 0 20px !important;
  overflow: hidden;
  border-radius: 0px;
}


.cell img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.flickity-page-dots {
  bottom: 0px;
}
/*End Carsoul*/
  
.top{
  background-color: #25717ba2;
  height: 90px ;
}
.down{
  background-color: #25717b;
  min-height: 55vh ;
}
.down h4 {
  color:var(--whiteColor)
}
.down .text {
  /* margin-left: 45px; */
  /* padding-left: 20px; */
  /* border-left: 2px solid black; */
  font-size: 20px;
  /* text-align: justify; */
  position: relative;
  padding-left: 30px;
  font-weight: 300 ;
  color:var(--whiteColor)
}

.down .text::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 3px;
  height: 160px;
  background-color: var(--whiteColor);
}
.down a {
  color: white;
  display: block;
  text-decoration: none;
  font-weight: 300 ;
}
.textdown{
  position: relative;
}

h4{
  font-size: 28px;
}
.down .textdown::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 2px;
  background-color: var(--whiteColor);
}
.Initiative {
  min-height: 86.55vh;
  padding: 38px 0px 30px 0px;
}

.Opinion{
  min-height: 86.55vh;
  padding: 38px 0px 26px 0px;
}



/* Clothes Donation */
.HeroClothes {
  min-height: 60.3vh;
 
}
.description{
  font-size: 28px;
  text-align: justify;
}
.form{
  min-height: 70vh;
  background-color:  #25717ba2;;
  border-radius: 35px;
  padding: 35px 55px 35px 30px; 
}

.Formss .col-8{
  /* min-height: 70vh; */
  height: 100%;
  background-color: #fff;
  border-radius: 35px;
  z-index: 1;
  margin-top: 10px;
  padding:  40px 40px 30px 40px ;
  
}

.Formss .box{
  width: 540px;
  border-radius: 35px;
  z-index: 0;
  height: 360px;
  /* height: 600px; */
}
.Formss .box img{
  border-radius: 35px;
  /* height: 600px; */
}


input{
  width: 250px;
  border: solid #24717B;
  border-radius: 25px;
color: #24717B;
}

.Don{
 text-align: center;
 color: var(--mainColor);
}

textarea{

  border-radius: 15px;
  border: solid 2px #24717B;
}

main.midecal {
  background-image: url(../images/medicalDonation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}
main.clothes1 {
  background-image: url(../images/clothess.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}
main.gift1 {
  background-image: url(../images/clotheshero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}
.pay{
  height: 40px;
  width: 40px;
  display: block;
  margin: 20px 0px 20px 100px;
}
.pay:hover{
 cursor: pointer;
}
.visa{
  height: 40px;
  width: 40px;
  display: block;
  margin: 20px 0px 20px 100px;
}
.visa:hover{
  cursor: pointer;

}

.formMonypic{
  height: 450px;
}

main.monyDonation {
  background-image: url(../images/mony\ donation\ main\ pic.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  /* opacity: 0.95; */
<<<<<<< HEAD
}

main.health1 {
  background-image: url(/assets/images/HealthGifts.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}
main.edu1 {
  background-image: url(/assets/images/edcgift.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}
main.disabled_ppl1 {
  background-image: url(/assets/images/DisabledPPLhero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}
main.CE1 {
  background-image: url(/assets/images/CEhero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}

.subpicmidecal{
=======
/* }.subpicmidecal{
>>>>>>> 8b2e63b67d7f3977f341a9e61338dc745b2fb771
  height:500px ;

} */


/*  */
.Formss.medical {
  min-height: 50vh ;
}
/*  */
.boredrwhiete{
  background-color: #fff;}


.Htitile {
  font-weight: 700 !important;
  color: #F1F1F1 !important;
  font-size: 50px !important;

}

.DesHero {
  color: #F1F1F1 !important;
  font-weight: 300 !important;
  font-size: 24px !important;
}

.pl{
  padding-left: 75px !important;
}


.Opinion .card {
  width: 480px;
  margin: auto;
  /* border: 4px solid #25717b; */
  border-radius: 0px;

}
.Opinion .card p{
  font-size: 20px ;

}
.Opinion .card i {
  display: block;
  font-size: 25px;
  color: var(--mainColor);
  font-weight: bold;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 2px 1px 7px #bdbdbd;
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
}
.Opinion .card .img {
  width: 80px;
  height: 80px;
  margin: 10px 15px 0px 0;
  background-color: #25717b;
  border-radius: 50%;
}
.Opinion .card .img img {
  border-radius: 50%;
}
.Opinion .carousel {
  position: relative;
}
.Opinion .carousel .btnone {
  position: absolute;
  top: 100%;
  left: 17%;
  opacity: 1;
  box-shadow: 2px 1px 7px #9c9c9c;
  width: 48px;
  height: 35px;
  background-color: white;
  /* font-size: 40px; */
}
.Opinion .carousel .btnone i {
  color: var(--mainColor);
  font-size: 32px;
  
}
.Opinion .carousel .btntwo {
  position: absolute;
  top: 100%;
  right: 62%;
  opacity: 1;
  box-shadow: 2px 1px 7px #bdbdbd;
  width: 48px;
  height: 35px;
  background-color: white;
}
.Opinion .carousel .btntwo i {
  color: var(--mainColor);
  font-size: 32px;
}
.Opinion .right {
  margin: auto;
  
 
  padding-left: 100px;
}

.Opinion .right .imgbox {
  height: 38vh;
  width: 85%;
  background-color: var(--mainColor);
  margin-bottom: 110px;
}
.Opinion .right .imgbox img {
  height: 310px;
  width: 450px;
  transform: translate(-15%, 15%);
}

main.aboutus1{
  background-image: url(../images/Rectangle\ 5714.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}